# FRONT

# idea
.idea

# dependencies
frontend/node_modules
frontend/node_modules/
frontend/node_modules
frontend/.pnp
frontend.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


# back

# dependencies
backend/node_modules
backend/node_modules/
backend/node_modules/

# misc
backend/.DS_Store
backend/.storage

# package managers
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# configurations
backend/config.js
backend/config.test.js

# ideas
backend/.idea/
backend/.vscode/


.idea
.vscode
/node_modules
/coverage
/build
